body {
margin: 0px;
padding: 0px;
background-color: pink;
}
<<<<<<< HEAD
=======

<<<<<<< HEAD
=======
#pizza {
margin: 0px;



	
}
>>>>>>> 2b61a47192d3d663eb4cbb5089a043209088c720
>>>>>>> e029c88e55c0b83cd5ef06b965eecaf4fc9a6232
